main {
  display: flex;
}

.inner_container {
  width: 100%;
  height: 100%;
}

.search-container {
  background: #ececec;
  height: 388px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 80% 80%;
  justify-content: center;
  align-items: center;
  background-position: 3px 365px;
  background-repeat: round;
}

.search-box {
  width: 600px;
  height: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: initial;
}

.need_help {
  font-size: 12px;
  font-weight: 200;
  border: none;
  margin: 14px 0px 5px 70px;
  background: none;
  cursor: pointer;
  width: fit-content;
  color: #3e7dcc;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  margin-top: 40px;
}
.dialog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.dialog_text_box {
  margin: 6% 10% 0% 10%;
}

.dialog_heading {
  font-size: 36px;
  line-height: 120%;
  font-size: 43px;
  font-weight: 700;
  --text-opacity: 1;
  color: #314259;
  color: rgba(49, 66, 89, var(--text-opacity));
}
.text {
  color: #314259;
  line-height: 32px;
  margin: 20 px 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
}
